.mainbox {
  margin: auto 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login {
  padding: 10px 30px 20px 30px;
  max-width: 650px;
}

.titulo-login {
  margin-left: -15px;
}