.mainbox {
  margin: auto 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-cadastro {
  padding: 10px 30px 20px 30px;
  max-width: 650px;
}

.titulo-cadastro {
  margin-left: -15px;
}

.mb-3 {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
}

form h2{
  color: #0000aa;
  text-align: center;
  margin-bottom: 24px;
}

form button {
  width: 400px;
  height: 34px;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  background-color: #000080;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: normal;
  cursor: pointer;
}

.form-label{
  margin-top: 24px;
}

.form-control{
  margin-top: 11px;
}

.alert{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgba(49, 39, 39, 0.623)
}