.mainbox {
    margin: auto 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titulo-novoprojeto {
    padding: 10px 30px 20px 30px;
    max-width: 650px;
  }
  
  .project-name {
    margin-left: -15px;
  }

  .project-desc {
    margin-left: -2px;
  }

  .btn-cancel {
    margin-left: 10px;
	margin-top: 10px
  }