.mainbox {
  margin: auto 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form- {
  padding: 10px 30px 20px 30px;
  max-width: 700px;
}

.titulo-entrar {
  margin-left: 15px;
}
